* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(Mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}
header h1 {
    font-size: 3.5rem;
    letter-spacing: 6px;
}
header p a {
    color: white;
    text-decoration: none;
}
header p a:hover {
    color: red;
    text-decoration: none;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile img {
    border-radius: 100%;
    border: 1px solid white;
}
a.fa {
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}
a.fa-facebook:hover {
    color:blue;
}
a.fa-instagram:hover {
    color:purple;
}
a.fa-spotify:hover {
    color: green;
}
a.fa-github:hover {
    filter: black; 
}